html, body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(209, 227, 233);

  nav {
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      display: inline;
      margin-right: 15px;
    }

    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;

      &:hover {
        color: #0066cc;
      }
    }
  }

  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .name {
    color: peru;
  }

  hr {
    margin: 40px 20px;
    border: none;
    background-color: peru;
    height: 1px;
  }

  img {
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
  }

  .about-me {
    display: flex;

    .intro, .hobbies {
      flex: 1;
      padding: 0 15px;
    }

    .intro {
      text-align: justify;
    }

    .hobbies {
      border-left: 1px solid peru;
    }
  }
}
