<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>
  <section class="title-section">
    <h2>Hello, my name is <span class="name">Cole Beebe-Urbanawiz</span></h2>
    <img src="/images/cole.png" alt="picture of me" />
  </section>
  <hr />
  <section class="about-me">
    <div class="intro">
      <p>I'm studying Software Engineering, with emphases in Full Stack Web Design and Software Design.</p>
      <p>
        Currently, my full-time job is taking care of my 16-month-old daughter. In the little free time between that and 14 credits
        of school, I like to squeeze in playing some video games. I really enjoy difficult or completionist challenges; I've completed the 
        <a href="https://bulbapedia.bulbagarden.net/wiki/Living_Pok%C3%A9dex" target="_blank">Living Dex</a> in generations 3, 4, 5, and 6 of
        the Pokémon games. I recently finished 100% of Breath of the Wild, which took well over 200 hours, and am working on doing the same in
        Tears of the Kingdom.
      </p>
      <p>
        Other than that, I like spending time with my wife and daughter, taking walks, and coding. Most days I will spend a couple of hours coding
        for fun (outside of any schoolwork).
      </p>
    </div>
    <div class="hobbies">
      <p>Some of my hobbies include:</p>
      <ul>
        <li>Spending time with my infant daughter</li>
        <li>Coding</li>
        <li>Singing</li>
        <li>Playing Video Games</li>
      </ul>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
