<%- include('partials/header') %>

<main>
  <h1><%= title %></h1>
  <p>Welcome to the home page!</p>
  <img
    src="https://picsum.photos/800/400"
    alt="random home page photo"
    class="home-page__photo"
  />
</main>

<%- include('partials/footer') %>
